 * {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
   body{
    background-color: #1e1e1e;
    color: bisque;
}
.trivial{
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2%;
}
.header{
    display: flex;
    width: 100%;
    height: 10%;
    align-items:left;
    justify-content: center;
    margin-top: 1%;
}
.chart{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}
.operatorsWrapper{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2rem;
    flex: 2;
    cursor: pointer;
    background-color: #c31d39;
    height: 100%;
    border-radius: 25px;
}
.stats{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin-left: 1%;  
    font-size: 1rem;
}
.statsTitle{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.operator{
    flex: 1;
    justify-content: center;
    text-align: center;
    padding: 2%;
}
.trivial__board{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-size: 4rem; 
    flex: 1.2;
    margin-top: 10%;
    color: bisque;
}
 .trivial__answer{
    background-color: bisque;
    border: 0px;
    outline: 0;
    font-size: 3rem;
    width: 10rem;
    text-align: center;
    flex:1;
    color: #1e1e1e;
    border-radius: 2%;
}
.trivial__answer::placeholder{ 
    opacity: 1;
}
.trivial__resultok{
    color: #63A088;
    visibility: hidden;
}
.trivial__resulterror{
    color: #c31d39;
    visibility: hidden;
}
.trivial__visible{
    visibility: visible !important;
}
.refresh{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
    width:80% ;
    padding: 2%;
    opacity: 0;
    flex:1;
    color: #1e1e1e;
    cursor: default;
    transition: opacity 1s ease;
}
.correctAnswer{
    display: flex;
    opacity: 0;
    width: 80%;
    font-size: 2rem;
    flex:0.5;
    align-items:start ;
    justify-content: center;
}
.box__visible{
    opacity: 1;
    transition: opacity 1s ease;
}
button{
    padding: 5%;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    background-color: bisque;
    border-radius: 2%;
    font-size: medium;
}
.operatorRandom{
    flex: 1;
    text-align: center;
    padding: 2%;
}
.clear{
    background-color:#c31d39;
    color: bisque;
    width: fit-content;
    margin-top: 1%;
    border-radius: 20px;
    cursor: pointer;
    padding: 1%;
    opacity: 1;
    transition: opacity 1s ease;
}
.invisible{
   opacity: 0;
   transition: opacity 1s ease;
   cursor: default;

}
.operator--selected{
    color:#c31d39;
    background-color: bisque;
    border: 2px solid bisque;
    border-radius: 25px;
    
}